
.gradient-fade {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


.anim--top-bottom-borders--out a.nav-link {
    position: relative;
    text-decoration: none;
}

.anim--top-bottom-borders--out a.nav-link:before, .anim--top-bottom-borders--out a.nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.anim--top-bottom-borders--out a.nav-link:after {
    /* TODO: Change this width if dropdown menus will be used */
    width: 100%;
}

.anim--top-bottom-borders--out a.nav-link:before
{
    top: 0px;
    transform: translateY(10px);
}

.anim--top-bottom-borders--out a.nav-link:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.anim--top-bottom-borders--out a.nav-link:hover:before, .anim--top-bottom-borders--out a.nav-link:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



.anim--carousel-caption--slide-in {
    opacity: 0; /* Initial Opacity set to 0 */
    animation: slide-in 0.8s forwards;
    animation-timing-function: ease-out;   
    -webkit-animation: slide-in 0.8s forwards;     
    -webkit-animation-timing-function: ease-out;         
    -moz-animation: slide-in 0.8s forwards;     
    -moz-animation-timing-function: ease-out;         
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

@keyframes slide-in {
    0% { transform: translateX(20%); opacity: 0; }
    20% { opacity: 1;}
    100% { transform: translateX(0%); opacity: 1; }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(20%); opacity: 0; }
    20% { opacity: 1;}
    100% { -webkit-transform: translateX(0%); opacity: 1; }
}
