{% macro table() %}
    <table class="cart-table table w-100">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Photo</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {{ caller() }}
        </tbody>
    </table>
{% endmacro %}

{% macro subtotal(title, origi_price, discount_price, discount) %}
    <tr>
        <td>{{title}}</td>
        <td>{{origi_price}}</td>
        <td>{{discount_price}}</td>
        <td>{{discount}}</td>
    </tr>
{% endmacro %}

{% macro row(id, iter, image, price, delete_url="") %}    
    <tr data-id="{{id}}">
        <td scope="row">{{iter}}</td>
        <td >
            <img class="cart-details-img" width="70px;" src="{{ image }}">
        </td>
        <td>{{price}}</td>
        <td>
            <a href="{{delete_url}}" class="btn btn-primary clear-item">Remove</a>
        </td>
    </tr>
{% endmacro %}