{% macro table_base(header_list=None, c_class='') %}
    <table class="cart-table table-hover table w-100 {{c_class if c_class else ''}}">
        {% if header_list %}
            <thead>
                <tr>
                    {% for element in header_list %}
                        <th scope="col">
                            <span style="white-space: nowrap;">
                                {{element}}
                            </span>                            
                        </th>                            
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        <tbody>
            {{ caller() }}
        </tbody>
    </table>
{% endmacro %}

{% macro table_main(total_price) %}
    <table class="cart-table table-hover table w-100 {{c_class if c_class else ''}}">        
        <tbody>
            {{ caller() }}
        </tbody>
        <tfoot>
            <tr>                
                <th colspan="2" class="cart-album-remark"  scope="col">
                    <span style="white-space: nowrap;">
                        Total:
                    </span>                            
                </th>            
                <th class="cart-album-price" style="width: 100px;" scope="col">
                    <span style="white-space: nowrap;">
                        {{total_price|shop.format_price}}
                    </span>                            
                </th>            
                <th style="width: 100px;" scope="col">
                    <span style="white-space: nowrap;">
                    </span>                            
                </th>            
            </tr>
        </tfoot>
    </table>
{% endmacro %}

{% macro price_discount(subtotal, discount) %}
    {% if discount > 0 %}
        <span class="cart-discount">
            <ins>
                <span>{{(subtotal * (1 - discount))|shop.format_price}}</span>
            </ins>
            <del>
                <span>{{subtotal|shop.format_price}}</span>        
            </del>
        </span>
    {% else %}
        <span>{{(subtotal * (1 - discount))|shop.format_price}}</span>
    {% endif %} 
{% endmacro %}

{% macro table_album(album_title, discount, subtotal, num_items) %}
    {% set caller_content = caller() %}
    <tr class="cart-table-album active">
        <td class="cart-album-title">
            <span>
                {{album_title}}
            </span>
        </td>
        <td class="cart-album-remark">
            <span class="cart-toggle-element" >
                Subtotal ({{num_items}} items):
            </span>
        </td>
        <td class="cart-price" colspan="2">
            <span class="cart-toggle-element" >
                <span>{{(subtotal * (1 - discount))|shop.format_price}}</span>
            </span>
        </td>
    </tr>
    {{ caller_content }}
    {% if discount > 0 %}
        <tr style="display: table-row">
            <td colspan="2" class="cart-album-remark">
                <span>Discount:</span>
            </td>
            <td colspan="2" class="cart-price">
                <span>{{discount|shop.format_percentage}}</span>
            </td>
        </tr>
    {% endif %}
    <tr style="display: table-row">
        <td colspan="2" class="cart-album-remark">
            <span>Subtotal ({{num_items}} items):</span>
        </td>
        <td colspan="2" class="cart-price">
            {{ price_discount(subtotal, discount) }}
        </td>
    </tr>
{% endmacro %}

{% macro subtotal(title, origi_price, discount_price, discount) %}
    <tr>
        <td>{{title}}</td>
        <td>{{origi_price}}</td>
        <td>{{discount_price}}</td>
        <td>{{discount}}</td>
    </tr>
{% endmacro %}

{% macro row(image, price, delete_url=None) %}    
    <tr style="display: table-row">
        <td class="cart-photo">
            <img class="cart-details-img" width="70px;" src="{{ image }}">
        </td>
        <td>
            <span class="cart-album-title">
                Digital Photo
            </span>
        </td>
        <td>
            <span class="cart-album-price">{{price|shop.format_price}}</span>
        </td>
        <td>
            {% if delete_url %}
                <button href="{{delete_url}}" class="btn btn-sm btn-danger clear-item"><i class="fa fa-trash-o"></i></button>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro table_mini() %}
    {% set caller_content = caller() %}
    {% call table_base(None) %}
        {{ caller_content }}
    {% endcall %}
{% endmacro %}

{% macro row_mini(image, price, delete_url="") %}
    <tr>
        <td >
            <img class="cart-details-img" width="70px;" src="{{ image }}">
        </td>
        <td>
            <span style="white-space: nowrap;">
                Digital Photo
            </span>
        </td>
        <td>
            <button href="{{delete_url}}" class="btn btn-sm btn-danger clear-item"><i class="fa fa-trash-o"></i></button>
        </td>
    </tr>
{% endmacro %}