{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}
{% import 'admin/macros.html' as custom_lib with context %}
{% from 'admin/macros.html' import custom_form_tag with context %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
  <style>
	.img-preview {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom:10px;
	}
  </style>
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
    </li>
  </ul>
  {% endblock %}

  {% block create_form %}
    {% call custom_lib.custom_form_tag('upload-files', form_opts) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ lib.render_form_buttons(cancel_url, is_modal) }}
    {% endcall %}
  {% endblock %}
  <div id="file-preview-list">
  {# This section will be filled out by js  #}
  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
  <script src="{{ url_for('admin_.static', filename='js/form_upload_imgs_preview.js') }}" type="text/javascript"></script>
{% endblock %}