{% import 'website/modules/cart.html' as cart with context %}


{% call cart.table_main(total_price) %}
    {% for category_id, category in cart_items.items() %}
        {% call cart.table_album(category['title'], category['discount'], category['subTotal'], category['products'].keys()|length) %}

            {% for key, item in category['products'].items() %}  
                {{ cart.row(image=item['thumb'], item_price=item['price'], delete_url=url_for('shop.cart_item_api', item_id=item['id'])) }}
            {% endfor %}

        {% endcall %}
    {% endfor %}    
{% endcall %}
