{% import 'website/modules/cart.html' as cart with context %}

{% call cart.table_mini() %}
    {% for category_id, category in cart_items.items() %}
        {% for key, item in category['products'].items() %}    
            {{ cart.row_mini(image=item['thumb'], price=item['price'], delete_url=url_for('shop.cart_item_api', item_id=item['id'])) }}
        {% endfor %}
    {% endfor %}
    <tr>
        <td class="cart-album-remark">
            <span>Total:</span>
        </td>
        <td colspan="2" class="cart-price">
            <span>{{total_price|shop.format_price}}</span>
        </td>
    </tr>
{% endcall %}
