{% import 'website/modules/cart.html' as cart with context %}
{% import 'website/modules/price.html' as price with context %}

{% call cart.table_mini() %}
    {% for category_id, category in cart_items.items() %}
        {% for key, item in category['products'].items() %}    
            {{ cart.row_mini(image=item['thumb'], price=item['price'], delete_url=url_for('shop.cart_item_api', item_id=item['id'])) }}
        {% endfor %}
    {% endfor %}
    <tr class="title-price-same">        
        <td colspan="2" class="cart-album-remark text-right">
            <span>Total:</span>
        </td>
        <td  class="cart-price">
            {{ price.discount(total_price, total_price) }}
        </td>
    </tr>
{% endcall %}
