{% import 'website/elements.html' as html_element with context %}
{% import 'website/modules/price.html' as price with context %}

{% macro _cart_detail(list_items, total_price) %}
    {% call html_element.table_base(class=["cart-table", "table-hover", "table-sm", "w-100"]) %}
        {% for category_id, category in list_items.items() %}
            {% set item_price = (category['subTotal'] * (1 - category['discount'])) %}
            {% set num_items = category['products'].keys()|length %}
            <tr class="cart-table-album active">
                <td class="cart-album-title">
                    <span>
                        {{category['title']}}
                    </span>
                </td>
                <td class="cart-album-remark">
                    <span class="cart-toggle-element" >
                        Subtotal ({{num_items}} items):
                    </span>
                </td>
                <td class="cart-price" colspan="2">
                    <span class="cart-toggle-element" >
                        {{ price.discount(item_price, item_price) }}
                    </span>
                </td>
            </tr>
            {% for key, item in category['products'].items() %}
                <tr class="title-price-same" style="display: table-row">
                    <td class="cart-photo">
                        <img class="cart-details-img" width="70px;" src="{{ item['thumb'] }}">
                    </td>
                    <td>
                        <span class="cart-album-title">
                            Digital Photo
                        </span>
                    </td>
                    <td >
                        {{ price.discount(item['price'], item['price']) }}
                    </td>
                    <td>
                        {% call html_element.button(style="danger", class=["clear-item", "btn-sm"], href=url_for('shop_api.cart_item_api', item_id=item['id'])) %}
                            <i class="fa fa-trash-o"></i>
                        {% endcall %}
                    </td>
                </tr>
            {% endfor %}
            {% if category['discount'] > 0 %}
                <tr style="display: table-row">
                    <td colspan="2" class="cart-album-remark">
                        <span>Discount:</span>
                    </td>
                    <td colspan="2" class="cart-price">
                        <span>{{category['discount']|shop.format_percentage}}</span>
                    </td>
                </tr>
            {% endif %}
            <tr style="display: table-row">
                <td colspan="2" class="cart-album-remark">
                    <span>Subtotal ({{num_items}} items):</span>
                </td>
                <td colspan="2" class="cart-price">
                    {{ price.discount_by_percentage(category['subTotal'], category['discount']) }}
                </td>
            </tr>
        {% endfor %}
        {% call html_element.table_footer(None) %}
            <th colspan="2" class="cart-album-remark"  scope="col">
                <span class="cart-album-title">
                    Total:
                </span>
            </th>
            <th class="cart-album-price" style="width: 100px;" scope="col">
                <span class="cart-album-title">
                    {{ price.discount(total_price, total_price) }}
                </span>
            </th>
            <th style="width: 100px;" scope="col">
                <span clas="cart-album-title">
                </span>
            </th>
        {% endcall %}
    {% endcall %}
{% endmacro %}

{{ _cart_detail(cart_items, total_price) }}