{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}
{% import 'admin/actions.html' as actionlib with context %}
{% import 'admin/model/row_actions.html' as row_actions with context %}
{% import 'admin/photo_macro.html' as p_macro with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block model_menu_bar %}
    <ul class="breadcrumb">
      <li class="active"><a href="#">Root</a></li>
    </ul>
    {% for breadcrumb in breadcrumbs %}
      {{ breadcrumb.url, breadcrumb.text }}
    {% endfor %}
    
  {% endblock %}

  {% if filters %}

  {% endif %}

  {% block model_list_table %}
    <section id="photos">
      <div class="container">
          <div class="row">       
              {% block photos_section %}     
                {% for element in data %}
                  <div class="col-6 col-md-3">
                    
                  </div>  
                {% endfor %}

                <div class="col-6 col-md-3">                    
                  {{ p_macro.add_card(get_url('.create_view', url=return_url)) }}  
                </div>    
                
              {% endblock %}
          </div>
      </div>		
    </section>
  {% endblock %}
  
  {{ lib.add_modal_window() }}

{% endblock %}


{% block tail %}
    {{ super() }}

    {% if filter_groups %}
      <div id="filter-groups-data" style="display:none;">{{ filter_groups|tojson|safe }}</div>
      <div id="active-filters-data" style="display:none;">{{ active_filters|tojson|safe }}</div>
    {% endif %}

    {{ lib.form_js() }}
    <script src="{{ admin_static.url(filename='admin/js/filters.js', v='1.0.0') }}"></script>
    <script src="{{ admin_static.url(filename='admin/js/filters.js', v='1.0.0') }}"></script>
    <script src="{{ url_for('admin_.static', filename='js/form_upload_imgs_preview.js') }}" ></script>

    {{ actionlib.script(_gettext('Please select at least one record.'),
                        actions,
                        actions_confirmation) }}

    <script>

      $(document).on('submit','#fa_modal_window form', function(e) {
        e.preventDefault();
        const parentId = $('.create-card').attr('parent-id');
        console.log(parentId);
      });


    
    </script>


{% endblock %}