{% import 'website/lib.html' as lib with context %}
{% import 'website/static.html' as static with context %}

<div id="navbar" class="outer-nav">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand small-logo-mobile" href="{{url_for('site.index')}}">
                <img src="{{static.url(filename='img/nav_logo_sm_50x50.png')}}" width="50" height="50" alt="logo small fairy light event photograhy design">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav main-nav anim--top-bottom-borders--out">
                    {{ lib.nav_link(_('nav.home'), url_for('site.index'))}}
                    {{ lib.nav_link(_('nav.photos'), url_for('shop.index_view')) }}
                    {{ lib.nav_link(_('nav.services'), url_for('site.services')) }}
                </ul>
                <a class="navbar-brand large-logo" href="{{url_for('site.index')}}">
                    <img src="{{static.url(filename='img/nav_logo_lg_60x60.png')}}" alt="logo large fairy light event photography">
                </a>
                <ul class="navbar-nav main-nav anim--top-bottom-borders--out">
                    {{ lib.nav_link(_('nav.portfolio'), url_for('site.portfolio')) }}
                    {{ lib.nav_link(_('nav.about'), url_for('site.about')) }}
                    {{ lib.nav_link(_('nav.contact'), url_for('site.contact')) }}
                </ul>
            </div>
        </nav>
    </div>
</div>
