{# Common global html template files #}
{% extends 'website/base.html' %}
{% import 'website/lib.html' as lib with context %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block page_body %}
	<header>
		{{ super() }}
		{% block hero_block %}
		{% endblock %}
		{% block header_block %}
			{{lib.render_navbar()}}
		{% endblock %}

		{% block cart_block %}
			{{lib.cart(None, cart_num_of_items)}}
		{% endblock %}
	</header>
	<main id="main">
	{% block main_block %}

	{% endblock %}    
	</main>
	
	{% block footer_block %}
    	<footer id="footer">
			{{lib.render_footer()}}
		</footer>
	{% endblock %}    	


	{% block globals_js %}
		{% block cart_url_js %}
			const cartContentUrl = "{{url_for('shop.cart_mini_refresh')}}";
		{% endblock %}
	{% endblock %}



	{% block cart_modal_block %}
		{{lib.cart_modal(url_for('shop.cart_detail', url=url_for('shop.index_view')))}}
	{% endblock %}


{% endblock %}


