{# Common global html template files #}
{% extends 'website/base.html' %}
{% import 'website/lib.html' as lib with context %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block page_body %}
	{{ super() }}
	{% block hero_block %}
	{% endblock %}
	{% block header_block %}
		{{lib.render_navbar()}}
	{% endblock %}
	{% block cart_block %}
		{{lib.cart(None, cart_num_of_items)}}
	{% endblock %}
	{% block cart_modal_block %}
		{{lib.cart_modal(url_for('shop.cart_detail', url=url_for('shop.index_view')))}}
	{% endblock %}

	<main id="main">
	{% block main_block %}

	{% endblock %}    
	</main>
	
	{% block footer_block %}
		{{lib.render_footer()}}
	{% endblock %}    	
{% endblock %}

{% block document_ready %}
	{{super()}}
	
	$('#navbar').scrollToFixed();
	//#outer-cart	
	$('#shopping-cart').scrollToFixed({
		marginTop : $('#navbar').outerHeight(true) + 20,
		//marginTop : 95 , // outherHeight is not working probably because of the transitions
		zIndex : 500,
		spacerClass: $('#spacer'),
	});

{% endblock %}

{% block shopping_cart_init %}
	$('#shopping-cart').shoppingCart({
		delegates : {
			cartModal: '#shopping-cart-modal',
			cartContent: '#shopping-cart-content',
		},
		urls: {
			cartContent: "{{url_for('shop.cart_mini_refresh')}}",
		},
		callbacks: {
			onCounterUpdated: function(cnt) {
				if (cnt == 0) {
					this.hide();
				} else {
					this.show();
				}
			},
		}
	});
{% endblock %}