{# Common global html template files #}
{% extends 'website/base.html' %}
{% import 'website/lib.html' as lib with context %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block page_body %}
	{{ super() }}
	{% block hero_block %}
	{% endblock %}
	{% block header_block %}
		{{lib.render_navbar()}}
	{% endblock %}
	{% block cart_block %}
		{{lib.cart(cart_num_of_items)}}
	{% endblock %}
	{% block cart_modal_block %}
		{{lib.cart_modal({{url_for('shop.cart_detail')}})}}
	{% endblock %}

	<main id="main">
	{% block main_block %}

	{% endblock %}    
	</main>
	
	{% block footer_block %}
		{{lib.render_footer()}}
	{% endblock %}    	
{% endblock %}

{% block shopping_cart_init %}
	$('#shopping-cart').shoppingCart({
		delegates : {
			cartContent: '#shopping-cart-content',
		},
		callbacks: {
			onCounterUpdated: function(t, cnt) {
				if (cnt == 0) {
					t.cartContent.hide();
				} else {
					t.cartContent.show();
				}
			},
		}
	});
{% endblock %}