{% import 'website/macros.html' as macro with context %}
{% import 'website/static.html' as static with context %}
{% import 'website/elements.html' as element with context %}

{% macro nav_link(name, url) -%}
    {% if request.endpoint.endswith(url) %}
        <li class="nav-item flex-fill active">
            <a class="nav-link" href="{{url}}">{{name|upper}}
                <span class="sr-only">
                    (current)
                </span>
            </a>
        </li>
    {% else %}
        <li class="nav-item flex-fill">
            <a class="nav-link" href="{{url}}">{{name|upper}}</a>
        </li>
	{% endif %}
{% endmacro %}

{% macro footer_link(name, url) %}
    <li>
        <a href="{{url}}">{{name}}</a>
    </li>
{% endmacro %}

{% macro cart(url, counter=0, hide_if_empty=True, always_hide=False) %}
    <div id="outer-cart" class="container" >
        <div id="shopping-cart" style="display: {{'none' if ((counter == 0) and hide_if_empty) or always_hide else 'block'}};">
            <a rel="nofollow" class="anim--shrink-09" data-toggle="modal" data-target="#shopping-cart-modal">
                <span class="fa-stack fa-2x has-badge" data-count="{{counter}}">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
	</div>
{% endmacro %}

{% macro cart_modal(url, total) %}
    {% call element.modal_base(id='shopping-cart-modal', animation='fade') %}
        {% call element.modal_header() %}
            <h5 class="modal-title" id="shopping-cart-modal-label">Shopping Cart</h5>
        {% endcall %}
        {% call element.modal_body(**{'id':"shopping-cart-content"}) %}
            <div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>
        {% endcall %}
        {% call element.modal_footer(class='justify-content-between') %}
            {{ element.button(text="Back", style="secondary", **{'data-dismiss':"modal"}) }}
            {{ element.a_button(text="View Cart", style="primary") }}
        {% endcall %}
    {% endcall %}
{% endmacro %}
