{% macro separator() %}
	<li class="nav-item d-none d-md-inline">
		<i class="material-icons">label_important</i>
	</li>			
{% endmacro %}

{% macro subscribe(subscribe_endpoint='api.newsletter_subscribes_resource') %}
    <form id="subscribe-form" action="{{ url_for(subscribe_endpoint) }}" method="post" class="subscribe-form needs-validation">
        <input type="email" name="email">
        <input type="submit" value="Subscribe">
        <div id="feedback">
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </form>
{% endmacro %}

{% macro contact(contact_endpoint='api.contact_submissions_resource') %}
    <form id="contact-form" action="{{ url_for(contact_endpoint) }}" method="post" role="form" class="contactform needs-validation">
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 character">
            <div id="name" class="validation">

            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your Email" data-msg="Pleae enter a valid email">
            <div id="email" class="validation">

            </div>
        </div>
        <div class="form-group">
            <textarea name="message" rows="5" class="form-control" data-rule="required" data-msg="Please write something for us" placeholder="Message">
            </textarea>
            <div id="message" class="validation">

            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Send Message</button>
        </div>
        <div id="feedback">
            </div>
    </form>
{% endmacro %}