{% import 'modules/forms.html' as form with context %}

{% macro link(endpoint, name) %}
    <li>
        <a href="{{ url_for(endpoint) }}">{{name}}</a>
    </li>
{% endmacro %}

{% macro footer(facebook='', instagram='') %}
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>
                            Fairy Light
                        </h3>
                        <p>
                            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>
                            Useful Links                        
                        </h4>
                        <ul>
                            {{ caller() }}
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>
                            Contact Us
                        </h4>
                        <p>
                            1111 Street Street
                            <br>
                            City cty, 9999
                            <br>
                            Country
                            <br>
                            <strong>Phone:</strong>
                            <a href="tel:0036111111111">
                                +36 11 1111 111
                            </a>
                            <br>
                            <strong>Email:</strong>
                            <a href="mailto:example@test.com">
                                example@test.com
                            </a>
                            <br>
                        </p>
                        <div class="social-links">
                            {% if facebook %}
                                <a href="{{ facebook }}" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            {% endif %}
                            {% if instagram %}
                            <a href="{{ instagram }}" class="instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>
                            Our Newsletter
                        </h4>
                        <p>
                            Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza. 
                        </p>
                        {{ form.subscribe() }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">                
                © Copyright 
                <strong>Fairy Light</strong>
                . All Rights Reserved
            </div>
        </div>
    </footer>
{% endmacro %}    