{% extends 'website/base.html' %}

{% block head_css %}
    {{ super() }}
    {% assets "shop.css" %}
        <link rel="preload" href="{{ ASSET_URL }}" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ ASSET_URL }}"></noscript>
    {% endassets %}
{% endblock %}
{% block page_body %}
  <main id="main">
      <section id="result">
          <div class="container">
              <div class="row">
                  <div class="col text-center">
                      {% block result_title %}

                      {% endblock %}
                      {% block result_body %}

                      {% endblock %}
                      <div class="countdown">
                          <h3>
                              You will be automatically redirected to the
                              <a href="{{url_for('site.index')}}">home</a> page after 
                              <span id="countdown">10</span> seconds
                          </h3>
                      </div>
                      <div class="backtoshop">
                          <h5>Click the link below to continue shopping.</h5>
                          <a href="{{url_for('shop.index_view')}}" class="btn btn-primary" >
                              Back To Shop
                          </a>
                      </div>
                  </div>
              </div>
          </div>
  </section>
  </main>
  <script>
      // Total seconds to wait
      var seconds = 10;
          
          function countdown() {
              seconds = seconds - 1;
              if (seconds < 0) {
                  // Chnage your redirection link here
                  window.location = "{{url_for('site.index')}}";
              } else {
                  // Update remaining seconds
                  document.getElementById("countdown").innerHTML = seconds;
                  // Count down using javascript
                  window.setTimeout("countdown()", 1000);
              }
          }
          
          // Run countdown function
          countdown();

  </script>

{% endblock %}