{% import 'website/modules/cart.html' as cart with context %}
{% import 'website/modules/price.html' as price with context %}
{% import 'website/elements.html' as element with context %}

{% macro _album_table(list_images) %}
    {% call html_element.table_base(class=["cart-table", "table-hover", "w-100"]) %}
        {% call(image) html_element.table_body(list_images, td_class=""title-price-same", style="display: table-row") %}
            <td class="cart-photo">
                <img class="cart-details-img" width="70px;" src="{{image.thumbnail}}">
            </td>
            <td>
                <span class="cart-album-title">
                    Digital Photo
                </span>
            </td>
            <td>
                {{ price.discount(image.discounted_price, image.discounted_price) }}
            </td>
            {{caller()}}
        {% endcall %}
    {% endcall %}
{% endmacro %}

{% call element.modal_header() %}
    <h5 class="modal-title" id="exampleModalLabel">{{ data.title}}</h5>
{% endcall %}
{% call element.modal_body() %}
    <p>The following products will be added to your cart:</p>
    {% call _album_table(data.images) %}
        {% if data.discounted_price != data.original_price %}
            <tr style="display: table-row">
                <td colspan="2" class="cart-album-remark">
                    <span>Discount:</span>
                </td>
                <td colspan="2" class="cart-price">
                    {{ price.percentage_from_discount(data.original_price, data.discounted_price) }}
                </td>
            </tr>
        {% endif %}
        <tr style="display: table-row">
            <td colspan="2" class="cart-album-remark">
                <span>Subtotal ({{num_items}} items):</span>
            </td>
            <td colspan="2" class="cart-price">
                {{ price.discount(data.original_price, data.discounted_price) }}
            </td>
        </tr>
    {% endcall %}
{% endcall %}
{% call element.modal_footer() %}
    {{ element.a_button(text="ADD TO CART", style="primary", class=["cart-add", "w-100"], href="{{data.url_add_to_cart}}") }}
    <div class="alert d-none alert-link alert-success alert-dismissible w-100 fade show" role="alert">
        <strong>{{data.images|length}} item</strong> has been added to your cart. Click <a href="{{url_for('shop.cart_detail')}}">HERE</a> to visit your cart.
        {% call element.button(class="close", data-dismiss="alert" aria-label="Close") %}
            <span aria-hidden="true">&times;</span>
        {% endcall %}
    </div>
{% endcall %}
