{% extends 'website/layout.html' %}
{% from 'website/macros.html' import separator with context %}
{% import 'website/lib.html' as lib with context %}
{% import 'website/elements.html' as element with context %}
{% import 'website/modules/breadcrumb_m.html' as breadcrumb_m with context %}
{% import 'website/modules/cards.html' as card with context %}

{% block head_css %}
    {{ super() }}
    {% assets "shop.css" %}
        <link rel="preload" href="{{ ASSET_URL }}" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ ASSET_URL }}"></noscript>
    {% endassets %}
{% endblock %}

{% block main_block %}
<section id="photonav">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-sm-11">
                {% if previous_url %}
                <div class="navigation-back clear-fix">
                    {% call element.a_button(style="primary", class=["pull-left", "btn-arrow-left"], href=previous_url) %}
                        <i class="fa fa-arrow-left"></i>
                        Back
                    {% endcall %}
                </div>
                {% endif %}
                <div class="navigation-breadcrumb">
                    {% block breadcrumb_block %}
                        {% call breadcrumb_m.base() %}
                            {{ breadcrumb_m.link(url_for('shop.index_view'), 'Home' ) }}
                            {% for breadcrumb in breadcrumbs %}
                                {% if not loop.last %}
                                    {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title) }}
                                {% else %}
                                    {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title, True) }}
                                {% endif %}
                            {% endfor %}
                        {% endcall%}
                    {% endblock %}                    
                </div>
            </div>		
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="header-separator"/>
            </div>
        </div>
        <div id="photonav-filter" class="row collapse">
            <div class="col-12">
                <div style="height: 200px">
                    I'm the filter - Placeholder
                </div>					
                <hr class="header-separator"/>
            </div>
        </div>
    </div>
</section>
<section id="photos">
    <div class="container">
        {% block photos_section %}     

        {% endblock %}
    </div>		
    <!-- Modal -->
    {% call element.modal_base(id="album-detail-modal", animations="fade") %}
        Loading ...
    {% endcall %}
</section>
{% endblock %}


{% block cart_modal_block %}
    {{lib.cart_modal(url_for('shop.cart_detail', url=current_url))}}
{% endblock %}

{% block globals_js%}
    {{super()}}
    const facebookAppId = "{{facebook.app_id if facebook.app_id else null}}"
{% endblock %}

{% block import_js %}
    {{ super() }}
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    {% assets "shop.shop_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
