{% extends 'website/layout.html' %}
{% from 'website/macros.html' import separator with context %}
{% import 'website/lib.html' as lib with context %}
{% import 'website/modules/breadcrumb_m.html' as breadcrumb_m with context %}
{% import 'website/modules/cards.html' as card with context %}

{% block head_css %}
    {{ super() }}
    {% assets "shop.css" %}
        <link rel="preload" href="{{ ASSET_URL }}" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ ASSET_URL }}"></noscript>
    {% endassets %}
{% endblock %}


{% block header_nav_element_block %}
    {{ super() }}
    <li class="nav-item">        
        <div id="shopping-cart-dropdown" class="dropdown">
            <a id="shopping-cart" href="#" class="nav-link d-inline-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="shopping-cart-items" class="highlight-item" data-val="{{ cart_num_of_items }}">
                    {{ cart_num_of_items }}
                </span>
                <i class="material-icons" style="padding:0 0 0 15px;font-size: 24px;">shopping_cart</i>
            </a>
            <div id="cart-dropdow" class="dropdown-menu">
                <span class="dropdown-content">
                    Loading ...
                </span>
                <hr class="header-separator"/>
                <div class="row text-center my-3">
                    <div class="col">
                        <a href="{{url_for('shop.cart_detail', url=current_url)}}" class="btn btn-primary" id="shopping-cart-detail">
                            <span class="text-nowrap">View Cart</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{url_for('shop_api.cart_api')}}" class="btn btn-primary" id="shopping-cart-clear">
                            <span class="text-nowrap">Clear Cart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>    
    {{ separator() }}
{% endblock %}


{% block main_block %}
<section id="photonav">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-sm-11">
                {% if previous_url %}
                <div class="navigation-back clear-fix">
                    <a class="btn btn-primary btn-arrow-left pull-left" href="{{previous_url}}">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </a>
                </div>
                {% endif %}
                <div class="navigation-breadcrumb">
                    {% block breadcrumb_block %}
                        {% call breadcrumb_m.base() %}
                            {{ breadcrumb_m.link(url_for('shop.index_view'), 'Home' ) }}
                            {% for breadcrumb in breadcrumbs %}
                                {% if not loop.last %}
                                    {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title) }}
                                {% else %}
                                    {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title, True) }}
                                {% endif %}
                            {% endfor %}
                        {% endcall%}
                    {% endblock %}                    
                </div>
            </div>		
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="header-separator"/>
            </div>
        </div>
        <div id="photonav-filter" class="row collapse">
            <div class="col-12">
                <div style="height: 200px">
                    I'm the filter - Placeholder
                </div>					
                <hr class="header-separator"/>
            </div>
        </div>
    </div>
</section>
<section id="photos">
    <div class="container">
        {% block photos_section %}     

        {% endblock %}
    </div>		
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                Loading ...
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block cart_modal_block %}
    {{lib.cart_modal(url_for('shop.cart_detail', url=current_url))}}
{% endblock %}

{% block globals_js%}
    {{super()}}
    const facebookAppId = "{{facebook.app_id}}"
{% endblock %}

{% block import_js %}
    {{ super() }}
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    {% assets "shop.shop_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
