{% extends 'email/base.html' %}
{% import 'website/lib.html' as lib with context %}

{% block main %}
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <span class="greetings">
          {% block greeting %}

          {% end block %}
        </span>
        <span class="introduction">
          {% block introduction %}

          {% end block %}
        </span>
        <span class="maincontent">
        {% block maincontent %}

        {% end block %}
        </span>
        <span class="lastwords">
        {% block lastwords %}

        {% end block %}
        </span>
      </td>
    </tr>
    <tr>
      <td>
        {% block signature %}
        <span>
        {% end block %}
          <p>Sinceresly,</p>
        </span>
        <span class="line-separator">
         <hr/>
        </span>
        <span class="signature">
          <p>Anna Toth & Eszter Pap</p>
          <p>Photographers at Fairy Light</p>
        </span>
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  {{ lib.footer() }}
{% endblock %}