{% macro footer(unsubscribe_link="#") %}
    <tr>
      <td class="content-block">
        <span class="apple-link">Fairy Light Event Photography, 9999 Street street, City city ZIP</span>
      </td>
    </tr>
      <tr>
      <td class="content-block">
        <span> You are receiving this email because you are subscribed to to Fairy Light mailing list. You can <a href="{{unsubscribe_link}}">Unsubscribe</a> any time from all future events.</span>
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        Powered by &copy; Copyright 2020 <a href="https://fairy-light.herokuapp.com">Fairy Light</a>.
      </td>
    </tr>
    <tr>
      <td>
        <span class="social-icon">
          <a rel="nofollow" href="#">
            <img class="img-fluid" width="45" height="45" src="http://placehold.it/45x45" alt="facebook page of fairy light event photography">
          </a>
        </span>
        <span class="social-icon">
          <a rel="nofollow" href="#">
            <img class="img-fluid" width="45" height="45" src="http://placehold.it/45x45" alt="instagram page of fairy light event photography">
          </a>
        </span>
        <span class="social-icon">
          <a rel="nofollow" href="#">
            <img class="img-fluid" width="45" height="45" src="http://placehold.it/45x45" alt="twitter page of fairy light event photography">
          </a>
        </span>
      </td>
    </tr>
{% endmacro %}