{% extends 'website/layout.html' %}
{% import 'website/modules/sections.html' as section with context %}
{% import 'website/modules/services.html' as services with context %}
{% import 'website/modules/contact.html' as contact with context %}


{% block main_block %}
<section id="contact" class="section-begin mt-5">
    <div class="container">
        {{ section.header('Contact Us', 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium') }}
        {{ contact.render() }}        
    </div>
</section>
{% endblock %}

{% block import_js %}
    {{ super() }}
    {% assets "site.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
