{% import 'modules/cart.html' as cart with context %}

{% call cart.table() %}
    {% for key, item in cart_items.items() %}
        {{ cart.row(item['id'], loop.index, image=item['thumb'], price=item['price'], delete_url=url_for('shop.cart_item_api', item_id=item['id'])) }}
    {% endfor %}
    <tr>
        <td></td>
        <td colspan="2">Total:</td>
        <td>{{total_price}}</td>
        <td></td>
    </tr>
{% endcall %}
<hr class="header-separator"/>
<div class="row text-center my-3">
    <div class="col">
        <a href="{{url_for('shop.checkout')}}" class="btn btn-primary" id="shopping-cart-checkout">Check Out</a>
    </div>
    <div class="col">
        <a href="{{url_for('shop.cart_api')}}" class="btn btn-primary" id="shopping-cart-clear">Clear</a>
    </div>
</div>

