{% extends 'website/base.html' %}

{% block custom_css %}
    {{ super() }}
    
    
    <style>
        #result .result-container {
            margin-top: 60px;
            width: 80%
        }

        #result .result-message {
            margin-bottom: 50px;
        }

        #result .description {
            margin-top: 30px;
            text-align: justify;
            padding: 15px 10px;
            border: 1px solid gray;
        }

        #result .countdown {
            margin-top: 50px;
        }

        .countdown h3 {
            font-size: 1rem;
        }

        #result .backtoshop {
            margin-top: 50px;            
        }

        #result .backtoshop a{
            padding: 0.375rem 2.5rem;       
        }

        /* Small devices (landscape phones, 544px and up) */
        @media (min-width: 544px) {  
            .countdown h3 {
                font-size: 2rem;
            }

            #result .result-message {
                margin-bottom: 100px;
            }

            #result .result-container {
                margin-top: 120px;
                width: 80%
            }
        }


        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {  
            #result .result-container h2{
                padding-top: 25px;
            }
        }
    </style>

{% endblock %}

{% block page_body %}
  <main id="main">
      <section id="result">
          <div class="container">
              <div class="row">
                  <div class="col text-center">
                      {% block result_title %}

                      {% endblock %}
                      {% block result_body %}

                      {% endblock %}
                      <div class="countdown">
                          <h3>
                              You will be automatically redirected to the
                              <a href="{{url_for('site.index')}}">home</a> page after 
                              <span id="countdown">10</span> seconds
                          </h3>
                      </div>
                      <div class="backtoshop">
                          <h5>Click the link below to continue shopping.</h5>
                          <a href="{{url_for('shop.index_view')}}" class="btn btn-primary" >
                              Back To Shop
                          </a>
                      </div>
                  </div>
              </div>
          </div>
  </section>
  </main>
  <script>
      // Total seconds to wait
      var seconds = 10;
          
          function countdown() {
              seconds = seconds - 1;
              if (seconds < 0) {
                  // Chnage your redirection link here
                  window.location = "{{url_for('site.index')}}";
              } else {
                  // Update remaining seconds
                  document.getElementById("countdown").innerHTML = seconds;
                  // Count down using javascript
                  window.setTimeout("countdown()", 1000);
              }
          }
          
          // Run countdown function
          countdown();

  </script>

{% endblock %}