{% extends 'website/layout.html' %}
{% from 'website/macros.html' import separator with context %}
{% import 'modules/breadcrumb_m.html' as breadcrumb_m with context %}
{% import 'modules/cards.html' as card with context %}

{% block custom_css %}
    {{ super() }}
    <link href="{{ site_static.url(filename='site/css/shop/style.css') }}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css" type="text/css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
     <!-- The required Stripe lib -->
     <script type="text/javascript" src="https://js.stripe.com/v3/"></script>


     <style>
         #register-form .field-border {
           border-radius: 0.25rem;
           border: 1px solid #666;
           padding-left: 25px;
           padding-right: 25px;
           padding-top: 2px;
           padding-bottom: 10px;		
         }
   
         #register-form .field-border legend {
           text-align: center;
           font-size: 1rem;
         }
       
         #shipping-billing {
           margin-bottom: 20px;
         }

         #personal {
           margin-bottom: 20px;
         }

         /* Payment button */
         .pay-btn-processing {
             display: none;
         }

         .pay-btn-idle {
             display: block;
         }
 
                   
     </style>

{% endblock %}

{% block main_block %}
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="cart-title">Shopping Cart Content:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span id="cart-details">
                    {% include 'cart_detail.html' %}
                </span>
                <hr class="header-separator"/>
                <div class="row my-3">
                    <div class="col text-left">
                        <a href="{{return_url}}" class="btn btn-primary btn-point-left" id="shopping-cart-back">
                            <span class="text-nowrap">Continue Shopping</span>
                        </a>
                    </div>
                    <div class="col text-right">
                        {% if total_price > 0 %}
                        <a href="{{url_for('shop.checkout')}}" class="btn btn-primary btn-point-right" id="checkout-modal-btn" data-toggle="modal" data-target="#checkout-modal">
                            <span class="text-nowrap">Check Out</span>
                        </a>
                        {% else %}
                        <a href="{{url_for('shop.checkout')}}" class="btn btn-primary btn-point-right disabled" aria-disabled="true" id="checkout-modal-btn" data-toggle="modal" data-target="#checkout-modal">
                            <span class="text-nowrap">Check Out</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="checkout-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            Loading ...
        </div>
    </div>
</div>

{% endblock %}

{% block tail_js %}
    {{ super() }}

    <script src="{{ site_static.url(filename='site/js/shopping_cart.js') }}" type="text/javascript"></script>
    <script>
    
    $('#cart-details').shoppingCart({
        buyButton: null,
        clearButton: null,
        removeButton: '.clear-item',
        indicator: null,
        urlGetCartContent: "{{url_for('shop.cart_detail_refresh')}}",
    });   

    $(document).ready(function() {

        // Handle the fetch for modal load
        $('#checkout-modal-btn').click(function(e) {
            //e.preventDefault();
            var targetId = $(this).attr('data-target');
            var url = $(this).attr('href')
            var targetDOM = $(targetId + ' .modal-content')
            targetDOM.html('<button class="btn btn-primary"><span class="spinner-border spinner-border-sm"></span>Loading..</button>');
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                success: function (data) {
                    targetDOM.html(data);
                },
                error: function (data) {
                    console.log(data.responseJSON);
                }
            }); 
        });

        //Fixing jQuery Click Events for the iPad
        var ua = navigator.userAgent, event = (ua.match(/iPad/i)) ? "touchstart" : "click";
        var e = $('#cart tr.cart-table-album');
        $(document.body).on(event, '#cart tr.cart-table-album', function() {
            $(this).toggleClass("active", "").nextUntil('.cart-table-album, .cart-table-total').css('display', function(i, v){
                return this.style.display == 'table-row'? 'none' : 'table-row';
            });
            $(this).find('td span.cart-toggle-element').css('visibility', function(i, v) {
                return this.style.visibility == 'visible'? 'hidden' : 'visible';
            });
        });

    });
    
    </script>
{% endblock %}


