{% extends 'website/layout.html' %}
{% from 'website/macros.html' import separator with context %}
{% import 'modules/breadcrumb_m.html' as breadcrumb_m with context %}
{% import 'modules/cards.html' as card with context %}

{% block custom_css %}
    {{ super() }}
    <link href="{{ site_static.url(filename='site/css/shop/style.css') }}" rel="stylesheet">
    
    <style>
       
    </style>

{% endblock %}


{% block header_nav_element_block %}
    {{ super() }}
    <li class="nav-item">        
        <div id="shopping-cart-dropdown" class="dropdown">
            <a id="shopping-cart" href="#" class="nav-link d-inline-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="shopping-cart-items">
                    {{ cart_num_of_items }}
                </span>
                <i class="material-icons" style="padding:0 0 0 15px;font-size: 24px;">shopping_cart</i>
            </a>
            <div id="cart" class="dropdown-menu">
                <span class="dropdown-content">
                    Loading ...
                </span>
                <hr class="header-separator"/>
                <div class="row text-center my-3">
                    <div class="col">
                        <a href="{{url_for('shop.cart_detail', url=current_url)}}" class="btn btn-primary" id="shopping-cart-detail">
                            <span class="text-nowrap">View Cart</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{url_for('shop.cart_api')}}" class="btn btn-primary" id="shopping-cart-clear">
                            <span class="text-nowrap">Clear Cart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>    
    {{ separator() }}
{% endblock %}


{% block main_block %}
<section id="photonav">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-sm-11">
                {% block breadcrumb_block %}
                    {% call breadcrumb_m.base() %}
                        {{ breadcrumb_m.link(url_for('shop.index_view'), 'Home' ) }}
                        {% for breadcrumb in breadcrumbs %}
                            {% if not loop.last %}
                                {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title) }}
                            {% else %}
                                {{ breadcrumb_m.link(breadcrumb.url, breadcrumb.title, True) }}
                            {% endif %}
                        {% endfor %}
                    {% endcall%}
                {% endblock %}
            </div>
            <div class="col-12 col-sm-1">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#photonav-filter">Filter</button>
            </div>					
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="header-separator"/>
            </div>
        </div>
        <div id="photonav-filter" class="row collapse">
            <div class="col-12">
                <div style="height: 200px">
                    I'm the filter - Placeholder
                </div>					
                <hr class="header-separator"/>
            </div>
        </div>
    </div>
</section>
<section id="photos">
    <div class="container">
        <div class="row">       
            {% block photos_section %}     

            {% endblock %}
        </div>
    </div>		
</section>
{% endblock %}

{% block tail_js %}
    {{ super() }}

    <script src="{{ site_static.url(filename='site/js/shopping_cart.js') }}" type="text/javascript"></script>
    <script>
    
    $('span.dropdown-content').shoppingCart({
        buyButton: '#photos .cart-add',
        clearButton: '#shopping-cart-clear',
        removeButton: '.clear-item',
        indicator: '#shopping-cart-items',
        urlGetCartContent: null,
    });


    $(document).ready( function() {

        $('.dropdown-toggle').dropdown({
            boundary : 'window',
            }
        );

        $('#shopping-cart-dropdown').on('show.bs.dropdown', function() {
            $('.dropdown .dropdown-content').html("Loading ...");
            console.log("Dropped down");

            $.ajax({
                type: 'GET',
                url: "{{url_for('shop.cart_api')}}",
                dataType: 'html',
                success: function (data) {
                    $('.dropdown .dropdown-content').html(data);
                },
                error: function (data) {
                    console.log(data.responseJSON);
                }
            }); 
        });        
    });

    
    
    </script>
{% endblock %}


