{% extends 'website/layout.html' %}
{% from 'website/macros.html' import separator with context %}
{% import 'modules/breadcrumb_m.html' as breadcrumb_m with context %}
{% import 'modules/cards.html' as card with context %}

{% block custom_css %}
    {{ super() }}
    <link href="{{ site_static.url(filename='site/css/shop/style.css') }}" rel="stylesheet">
    

{% endblock %}

{% block main_block %}
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="cart-title">Shopping Cart Content:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span id="cart-details">
                    {% include 'cart_detail.html' %}
                </span>
                <hr class="header-separator"/>
                <div class="row my-3">
                    <div class="col text-left">
                        <a href="{{return_url}}" class="btn btn-primary btn-point-left" id="shopping-cart-back">
                            <span class="text-nowrap">Continue Shopping</span>
                        </a>
                    </div>
                    <div class="col text-right">
                        <a href="{{url_for('shop.checkout')}}" class="btn btn-primary btn-point-right" id="shopping-cart-checkout">
                            <span class="text-nowrap">Check Out</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block tail_js %}
    {{ super() }}

    <script src="{{ site_static.url(filename='site/js/shopping_cart.js') }}" type="text/javascript"></script>
    <script>
    
    $('#cart-details').shoppingCart({
        buyButton: null,
        clearButton: null,
        removeButton: '.clear-item',
        indicator: null,
        urlGetCartContent: "{{url_for('shop.cart_detail_refresh')}}",
    });   

    $(document).ready(function() {

        //Fixing jQuery Click Events for the iPad
        var ua = navigator.userAgent, event = (ua.match(/iPad/i)) ? "touchstart" : "click";
        var e = $('#cart tr.cart-table-album');
        $(document.body).on(event, '#cart tr.cart-table-album', function() {
            $(this).toggleClass("active", "").nextUntil('.cart-table-album, .cart-table-total').css('display', function(i, v){
                return this.style.display == 'table-row'? 'none' : 'table-row';
            });
            $(this).find('td span.cart-toggle-element').css('visibility', function(i, v) {
                return this.style.visibility == 'visible'? 'hidden' : 'visible';
            });
        });

    });
    
    </script>
{% endblock %}


