{% import 'website/static.html' as static with context %}

{% macro lang_select(lang_code, description, url, is_active=False) %}
    {% if is_active %}
        <a class="dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class=""> </span>{{description}}
        </a>
    {% else %}
        <a class="dropdown-item" href="{{url}}">
            <span class=""> </span>{{description}}
        </a>
    {% endif %}

{% endmacro %}

{% macro hero_section(index_link) %}
    <section id="header" style="background: url({{static.url(filename='img/maze_black_2X.png')}})">
        <div class="container">
            <div class="row">
                <div style="top:10px; position: absolute; z-index: 1000;">
                    <div id="lang-select" class="dropdown" style="cursor: pointer; left: 10px;">
                        {{lang_select(language, languages[language], url_for('site_lang.index', lang_code=language if language else 'en'), is_active=True)}}
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            {% for key, desc in languages.items() %}
                                {% if key != language %}
                                    {{lang_select(key, desc, url_for('site_lang.index', lang_code=key))}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <ul class="d-flex align-items-center justify-content-center list-group list-group-horizontal ">
                        <li class="list-group-item flex-item">
                            <h1 class="title alig-self-center">Fairy</h1>
                        </li>
                        <li class="list-group-item logo">
                            <figure class="mx-auto text-center">
                                <img class="img-fluid" width="100" height="100" src="{{static.url(filename='img/hero_logo_lg_100x100.png')}}" alt="fairy light hero logo">
                            </figure>                        
                        </li>
                        <li class="list-group-item flex-item">
                            <h1 class="title alig-self-center">Light</h1>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <h1 class="title-description">
                        Event Photography
                    </h1>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}