{% macro lang_select(lang_code, description, url, is_active=False) %}
    {% if is_active %}
        <a class="dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="flag-icon flag-icon-{{'us' if lang_code == 'en' else lang_code}}"> </span>{{description}}
        </a>
    {% else %}
        <a class="dropdown-item" href="{{url}}">
            <span class="flag-icon flag-icon-{{'us' if lang_code == 'en' else lang_code}}"> </span>{{description}}
        </a>
    {% endif %}

{% endmacro %}

{% macro hero_section(index_link, bg_img='http://placehold.it/1140x350', logo_img='http://placehold.it/100x100') %}
    <section id="hero">
        <div class="container">
            <div class="row">
                <div style="top:10px; position: absolute; z-index: 1000;">
                    <div class="dropdown" style="cursor: pointer; left: 10px;">
                        {{lang_select(language, languages[language], url_for('site_lang.index', lang_code=language), is_active=True)}}
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            {% for key, desc in languages.items() %}
                                {% if key != language %}
                                    {{lang_select(key, desc, url_for('site_lang.index', lang_code=key))}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card" style="width:100%">
                    <img class="card-img-top gradient-fade img-fluid" src="{{ bg_img }}" alt="Fairy Light" style="width:100%">
                    <div class="card-img-overlay h-100 d-flex flex-column justify-content-end align-items-center pb-0">
                        <div class="row no-gutters w-100 justify-content-center align-items-center mb-3">
                            <div class="col-5">                            
                                <hr class="header-separator my-md-2"/>
                                <div class="text-center">
                                    <h1 class="header-text resp-font">FAIRY</h1>
                                </div>
                                <hr class="header-separator my-md-2"/>
                            </div>
                            <div class="col-2">
                                <div class="text-center">
                                    <a href="{{ index_link }}">
                                        <img class="img-fluid" src="{{ logo_img }}" alt="Fairy Light Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-5">
                                <hr class="header-separator my-md-2"/>
                                <div class="text-center">
                                    <h1 class="header-text resp-font">LIGHT</h1>
                                </div>
                                <hr class="header-separator my-md-2"/>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-12">
                                <h4 class="header-title">Event Photography</h4>
                            </div>                            
                        </div>                   
                    </div>
                </div>        
            </div>
        </div>
    </section>
{%- endmacro %}