{% macro member(picture, name, role, facebook_link, instagram_link, alt=None, class="") %}
    {% set classes = classlist(class) %}
    {% do classes.add('team-member') %}
    <div {{classes}}>
        <div class="team-pic">
            <img class="rounded-circle img-fluid" src="{{picture}}" alt="{{ 'alt|join(' ')' if alt else '' }}">
        </div>
        <h4>{{name}}</h4>
        <span>{{role}}</span>
        <div class="team-social">
            <a href="{{facebook_link}}">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="{{instagram_link}}">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
{% endmacro %}