hr.header-separator {
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0.6;
    margin: 0px;
}

h1.header-text {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0px;
}

.nav-link-icon i {
    vertical-align: middle;
    padding: 8px;
}

.carousel-caption {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: left;
    right: 50%; /* TODO: This should be somehow dynamic regarding text size + padding*/
    left: 5px;
    bottom: 5px;
    padding: 5px 8px;
    margin: 0px;
}

.carousel-control-prev {
    top: -20% !important;
    /* left: -5% !important; Buggy on small screen size */
}

.carousel-control-next {
    top: -20% !important;
    /* right: -5% !important; Buggy on small screen size */
}


.flex-img-fix img {
    width: 100%;
    height: 100%;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
	margin-bottom: 40px;
}

.section-title-divider {
    width: 80px;
    margin: 0 auto;
}

.section-title-divider hr {
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0.6;
    margin: 16px 0;
}

/* Service Section
--------------------------------*/
#services {
	padding-bottom: 80px;
}

#services .service-item {
    margin-bottom: 20px;
}

#services .service-pic {
    float: left;        
}

#services .service-title {
    margin-left: 80px;
    font-weight: 700px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#services .service-description {
    margin-left: 80px;
    line-height: 24px;
}

/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://placehold.it/600x260) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
	font-weight: 700;
}

#subscribe .subscribe-text {
	
}

#subscribe .subscribe-btn-container {
	text-align: center;
	padding-top: 20px;
}

#subscribe .subscribe-btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 20px;
	border-radius: 2px;
	margin: 10px;
	border: 2px solid #fff;
}

/* Team Section
--------------------------------*/
#team {
	padding: 80px;
}

#team .team-member {
	text-align: center;
	margin-bottom: 20px;
}

#team .team-member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#team .team-member span {
    font-style: italic; 
    font-size: 13px;
}

#team .team-pic {
	margin-bottom: 15px;
	height: 150px;
}

#team .team-social {
	margin-top: 15px;
}

#team .team-social i {
    font-size: 18px;
    margin: 0 2px;
    color: #fff;
}

/* Contact Section
--------------------------------*/
#contact {
    padding: 80px 0;
}

#contact .info {
    color: #3333;
}

#contact .info i {
    font-size: 18px;
    margin: 0 2px;
    color: #fff;
    float: left;
}

#contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
    color: #fff;
}

#contact .form #sendmessage {
    color: #fff;
    border: 1px solid #333;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px; 
}

#contact .from input, #contact .from textarea {
    border-radius: 0;
    box-shadow: none;
}

#contact .from .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .from button[type="submit"] {
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

/* Footer Section
--------------------------------*/
#footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #111;
    padding: 60px 0 30px 0;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #18d26e;
}

#footer .footer-top .footer-info p {
    margin-bottom: 0;
    color: #eee;
}

#footer .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul li{
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li::before{
    content: ">";
	font-size: 16px;
	padding-right: 5px;
}

#footer .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background-color: #18d26e;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    float: left;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}