<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="index.css"> 

    <style>

        .middle-section {
            width: 50%;     
            position: relative;
            left: 25%;            
        }

        .about-content {

            padding-top:50px;       
        }

        .about-grid {
            display: grid;
            grid-template-columns: 300px 650px;
            grid-template-rows: repeat(3, 100%);
            grid-gap: 5px;
        }

        .about-grid--title {
            text-align: left;
        }

        .about-grid--title-text {
            margin-top: 0px;
        }

        .about-grid--desc {
            text-align: justify;
        }

        .about-grid--desc-text {
            margin-top: 0px;
        }

    </style>
</head>
<body>
    <div class="grid-container">
        <div class="w3-row-padding header-content">
            <ul class="nav-links">
                <li id="link-element-1" class="nav-link-element">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li id="link-element-2" class="nav-link-element">
                    <a href="#services">Services</a>
                </li>
                <li id="link-element-mid" class="nav-link-element">
                    <a href="#logo">Img:Logo</a>
                </li>
                <li id="link-element-3" class="nav-link-element">
                    <a href="#about_us">About Us</a>
                </li>
                <li id="link-element-4" class="nav-link-element">
                    <a href="#contact">Contact</a>
                </li>
                <hr/>
            </ul>
        </div>
        <div class="w3-row-padding main-content">
            <div id="main-div">
                <!-- Slideshow -->
                <section class="slideshow">
                    <div class="slideshow-container">
                        <div class="slideshow-container__collection">
                            <div class="slideshow-numbertext">1 / 3</div>
                            <!-- Photo Grid -->
                            <div class="slideshow-grid">
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=1">
                                </figure>
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=2">
                                </figure>
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=3">
                                </figure>
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=4">
                                </figure>
                            </div>       
                            <div class="slideshow-title slideshow-title--slide-in">
                                <h1 class="slideshow-title__head">Album</h1>
                                <p class="slideshow-title__desc">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo.</p>
                            </div>         
                        </div>
                        <div class="slideshow-container__collection">
                            <div class="slideshow-numbertext">2 / 3</div>
                            <!-- Photo Grid -->
                            <div class="slideshow-grid">
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=5">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=6">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=7">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=8">
                                </figure>
                            </div>                      
                            <div class="slideshow-title slideshow-title--slide-in">
                                <h1 class="slideshow-title__head">Album</h1>
                                <p class="slideshow-title__desc">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo.</p>
                            </div>         
                        </div>
                        <div class="slideshow-container__collection">
                            <div class="slideshow-numbertext">3 / 3</div>
                            <!-- Photo Grid -->
                            <div class="slideshow-grid">
                                <figure class="slideshow-grid__item">
                                    <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=9">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=10">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=11">
                                </figure>
                                <figure class="slideshow-grid__item">
                                        <img class="slideshow-grid__img" src="https://picsum.photos/300/200?random=12">
                                </figure>
                            </div>         
                            <div class="slideshow-title slideshow-title--slide-in">
                                <h1 class="slideshow-title__head">Album</h1>
                                <p class="slideshow-title__desc">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo.</p>
                            </div>                    
                        </div>
                        <a class="slideshow-button__prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="slideshow-button__next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <div style="text-align:center">
                        <span class="slideshow-button__dot" onclick="currentSlide(1)"></span> 
                        <span class="slideshow-button__dot" onclick="currentSlide(2)"></span> 
                        <span class="slideshow-button__dot" onclick="currentSlide(3)"></span> 
                    </div>
                </section>
                <div class="middle-section">
                    <section class="about">
                        <div class="about-content">
                            <div class="about-grid">
                                <div class="about-grid--title font--header">
                                    <h1 class="about-grid--title-text">
                                        ABOUT
                                    </h1>                                
                                </div>
                                <div class="about-grid--desc">
                                    <p class="about-grid--desc-text font--medium">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="about-grid--title font--header">
                                    <h1 class="about-grid--title-text">
                                        GOAL
                                    </h1>                                
                                </div>
                                <div class="about-grid--desc font--medium">
                                    <p class="about-grid--desc-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa.
                                    </p>                                
                                </div>
                                <div class="about-grid--title font--header">
                                    <h1 class="about-grid--title-text">
                                        PROJECTS
                                    </h1>                                
                                </div>
                                <div class="about-grid--desc font--medium">
                                    <p class="about-grid--desc-text">
                                        Varius morbi enim nunc faucibus a. Sed euismod nisi porta lorem mollis. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. 
                                    </p>
                                </div>      
                            </div>                  
                        </div>
                    </section>
                </div>
                Main content
            </div>
        </div>
        <div class="w3-row-padding footer-content">
            Footer
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>

    <script>
       var slideShowIndex = 1;
       

       function plusSlides(index) {
        slideShowIndex = showSlides(slideShowIndex, slideShowIndex += index );
       }

       function currentSlide(index) {
        slideShowIndex = showSlides(slideShowIndex, index);
       }

       function showSlides(prevIndex, nextIndex) {
           var slides = $(".slideshow-container__collection");
           var dots = $(".slideshow-button__dot");

           if (nextIndex > slides.length) {
                nextIndex = 1;
           }
           if (nextIndex < 1) {
                nextIndex = slides.length;
           }
           
           if (prevIndex > 0) {
               var prevItem = slides.eq(prevIndex - 1);
               var nextItem = slides.eq(nextIndex - 1);

                if (prevIndex < nextIndex) {
                    /* Slide from right to left */
                    prevItem.transition({ x: '-100%', opacity: 0 }, 1000, function() {
                        prevItem.hide();
                    });

                    nextItem.css('x', '100%');
                    nextItem.show();
                    nextItem.transition({ x: '0%', opacity: 1 }, 1000);
                }
                else {
                    /* Slide from left to right */
                    prevItem.transition({ x: '100%', opacity: 0 }, 1000, function() {
                        prevItem.hide();
                    });
                    nextItem.css('x', '-100%');
                    nextItem.show();
                    nextItem.transition({ x: '0%', opacity: 1 }, 1000);
                }

               dots.removeClass("slideshow-button__dot--active");
               dots.eq(nextIndex - 1).addClass("slideshow-button__dot--active");
           }
           else {
                /* Page loaded first time */
                slides.hide()
                slides.eq(nextIndex - 1).show();

                dots.eq(nextIndex - 1).addClass("slideshow-button__dot--active");
           }

           return nextIndex;
       }

       $(document).ready(function () {
            showSlides(-1, slideShowIndex);
       });

    </script>

</body>
</html>