<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"> from: https://bootswatch.com/darkly/#top -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="animations.css"> 
    <link rel="stylesheet" href="fixes.css"> 
    <!-- Must be always at the end. Don't decalre inline responsive styles. -->
    <link rel="stylesheet" href="media_queries.css"> 

    <style>
        
        body {
            height: 1500px; /* TODO: Just for testing*/
        }
		
        /* Use with caution, it has a really strange effect when resizing the browser. */
		.test-resp-font h4 {
			font-size: calc(7px + (26 - 7) * ((100vw - 300px) / (1600 - 300)));
			line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
		}
		.test-resp-font p {
			font-size: calc(4px + (16 - 4) * ((100vw - 300px) / (1600 - 300)));
			line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));				
		}
			

    </style>
</head>
<body>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="card" style="width:100%">
                    <img class="card-img-top gradient-fade img-fluid" src="http://placehold.it/1140x350" alt="FairyLights" style="width:100%">
                    <div class="card-img-overlay h-100 d-flex flex-column justify-content-end align-items-center pb-0">
                        <div class="row no-gutters w-100 justify-content-center align-items-center mb-3">
                            <div class="col-5">                            
                                <hr class="header-separator my-md-2"/>
                                <div class="text-center">
                                    <h1 class="header-text resp-font">FAIRY</h1>
                                </div>
                                <hr class="header-separator my-md-2"/>
                            </div>
                            <div class="col-2">
                                <div class="text-center">
                                    <img class="img-fluid" src="http://placehold.it/100x100" alt="FairyLightsLogo">
                                </div>
                            </div>
                            <div class="col-5">
                                <hr class="header-separator my-md-2"/>
                                <div class="text-center">
                                    <h1 class="header-text resp-font">LIGHT</h1>
                                </div>
                                <hr class="header-separator my-md-2"/>
                            </div>
                        </div>                    
                    </div>
                </div>        
            </div>
        </div>
    </section>
    <div class="navbar navbar-expand-md bg-dark navbar-dark sticky-top container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-justified w-100 nav-link-icon anim--top-bottom-borders--out">
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#">PORTFOLIO</a>
                </li>
                <li class="nav-item d-none d-md-inline">
                    <i class="material-icons">label_important</i>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#">SERVICES</a>
                </li>
                <li class="nav-item d-none d-md-inline">
                    <i class="material-icons">label_important</i>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#">ABOUT</a>
                </li>
                <li class="nav-item d-none d-md-inline">
                    <i class="material-icons">label_important</i>
                </li>    
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="#">CONTACT</a>
                </li>    
            </ul>
        </div>  
    </div>
    <section id="quote">
        <div class="container px-0 mb-1" >
            <div class="row">
                <div class="col">
                    <div class="w-50 mx-auto my-5">
                        <hr class="header-separator my-3"/>
                        <blockquote class="blockquote">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            <footer class="blockquote-footer mt-3">From WWF's website</footer>
                        </blockquote>
                        <hr class="header-separator my-3"/>
                    </div>
                </div>
            </div>
    </section>
    <section id="slideshow">
        <div class="container px-0 mb-5" >
            <div class="row justify-content-center align-items-center">
                <div class="col px-0">
                    <!-- TODO: Remove data-interval="false" tag to enable automatic scrolling. Set time in [ms] to adjust the timing -->
                    <div id="demo" class="carousel slide" data-ride="carousel" data-interval=false>
            
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex flex-row flex-img-fix">							
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-sm-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-md-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                </div>
                                <div class="carousel-caption anim--carousel-caption--slide-in">
                                    <div class="px-2">
                                        <h4>Album</h4>
                                        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">							
                                <div class="d-flex flex-row flex-img-fix">							
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-sm-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-md-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                </div>
                                <div class="carousel-caption anim--carousel-caption--slide-in">
                                    <div class="px-2 test-resp-font">
                                        <h4>Album</h4>
                                        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex flex-row flex-img-fix">							
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-sm-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                    <div class="flex-fill">
                                        <img class="d-none d-md-block" src="http://placehold.it/285x200" alt="Los Angeles">
                                    </div>
                                </div>
                                <div class="carousel-caption anim--carousel-caption--slide-in">
                                    <div class="px-2 test-resp-font">
                                        <h4>Album</h4>
                                        <p style="margin:0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Indicators -->
                        <ul class="carousel-indicators position-relative">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <!-- Our services section: ref: https://bootstrapmade.com/demo/Imperial/ -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Our Services</h1>
                    <div class="mx-auto mb-3" style="width:80px;">
                        <hr class="header-separator my-3"/>
                    </div>
                    <p class="section-description">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        LOREM IPSUM
                    </h3>
                    <p class="service-description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        DOLOR SITEMA
                    </h3>
                    <p class="service-description">
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
                    </p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        SED UT PERSPICIATIS
                    </h3>
                    <p class="service-description">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    </p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        MAGNI DOLORES
                    </h3>
                    <p class="service-description">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        NEMO ENIM
                    </h3>
                    <p class="service-description">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                    </p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-pic">
                        <img class="rounded-circle" src="http://placehold.it/60x60">
                    </div>
                    <h3 class="service-title">
                        EIUSMOD TEMPOR
                    </h3>
                    <p class="service-description">
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>