
{% macro discount(original_price, discounted_price) %}
        <span class="price-discount">
            <ins>
                <span>{{discounted_price|shop.format_price}}</span>
            </ins>
            {% if discounted_price != original_price %}
                <del>
                    <span>{{original_price|shop.format_price}}</span>
                </del>
            {% endif %}
        </span>
{% endmacro %}

{% macro discount_by_percentage(subtotal, discount) %}
    {{ discount( subtotal, (subtotal * ( 1 - discount)) ) }}
{% endmacro %}

{% macro percentage_from_discount(original_price, discounted_price) %}
    <span>{{ (1 - (discounted_price / original_price ))|shop.format_percentage}}</span>
{% endmacro %}